apiVersion: 1

# https://grafana.com/docs/grafana/latest/administration/provisioning/#data-sources
datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: true
